{% extends 'members/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h6 class="mb-0 pb-3">Password reset sent</h6>
<div class="card-3d-wrap mx-auto">
	<div class="card-3d-wrapper">
		<div class="card-front">
			<div class="center-wrap">
				<div class="section text-center">
					<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
					<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
