{% extends 'members/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h6 class="mb-0 pb-3">Reset Password</h6>
<div class="card-3d-wrap mx-auto">
	<div class="card-3d-wrapper">
		<div class="card-front">
			<div class="center-wrap">
				<div class="section text-center">
					<form method="POST">
						<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
						{% csrf_token %}
						<div class="form-group">
							{{ password_reset_form.email|as_crispy_field }}
						</div>
						</br>
						<button class="btn btn-primary" type="submit">Send email</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
