{% extends 'members/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h6 class="mb-0 pb-3">Password Reset Confirm</h6>
<div class="card-3d-wrap mx-auto">
	<div class="card-3d-wrapper">
		<div class="card-front">
			<div class="center-wrap">
				<div class="section text-center">
					<p>Please enter your new password.</p>
					<form method="POST">
						{% csrf_token %}
						{{ form.new_password1|as_crispy_field }}
						</br>
						{{ form.new_password2|as_crispy_field }}
						</br>
						<button class="btn btn-primary" type="submit">Reset password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
